div{
    width:100px;
    height: 100px;
    background-color: blue;
   /* animation: anime1 ;
    animation-duration: 4s;
    position: relative;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation: anime1 4s ease-in-out 2s 3 alternate-reverse both;
    transform: rotate(20deg);
    transform: rotateX(150deg);
    transition: width 2s ,height 2s, transform 2s;*/
    opacity: 0.33;
    

}
div:hover{
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}
@keyframes anime1 {
    /*from{background-color: blue;}
    to{background-color: blueviolet;}*/
    0%{background-color: blue;top: 0px;left: 0px;}
    25%{background-color: blueviolet;top: 0px;left: 200px;}
    50%{background-color: rgb(43, 226, 58);top: 200px;left: 200px;}
    75%{background-color: rgb(226, 110, 43);top: 200px;left: 0px;}
    100%{background-color: rgb(223, 226, 43);top: 0px;left: 0px;}
}